@{
  Layout = "_Layout";
}

@model Treats.Models.Order

<h2>Edit this Order:</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.OrderId)

  @Html.LabelFor(model => model.Date)
  @Html.EditorFor(model => model.Date, new { placeholder = "MM/DD/YYYY" })
  @Html.LabelFor(model => model.Details)
  @Html.EditorFor(model => model.Details)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Orders List", "Index")</p>

